{% extends 'home/master.html' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" action="{% url 'home:post_comment' post_id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <textarea name="comment" cols="30" rows="10"></textarea>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">submit</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}