{% extends 'home/master.html' %}
{% block body %}
    <div class="all-post-list">
        {% for post in all_post %}
        <div class="preview-post" style="background: {{ post.color }};">
            <div class="row title-avatar">
                <div class="avatar col-md-1">
                    <img src="{{ post.uinfo.propic.url }}" alt="">
                </div>
                <div class="col-md-11">
                    <div class="post-title"><a href="{% url 'home:single_post' post.post.pk %}"><h4>{{ post.post.title }}</h4></a></div>
                    <div class="post-info">
                        {% load humanize %}
                        <p><i class="fa fa-square ipd"></i>By {{ post.post.author }}<i class="fa fa-square ipd ipd-ex"></i>{{ post.post.date|naturaltime }}</p>
                    </div>
                </div>
            </div>
            <div class="main-post">
                <p>{{ post.post.post|safe|truncatechars:200}}</p>
            </div>
        </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if all_post.has_previous %}
                    <a href="?page={{ all_post.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ all_post.number }} of {{ all_post.paginator.num_pages }}.
                </span>

                {% if all_post.has_next %}
                    <a href="?page={{ all_post.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

    </div>
{% endblock %}
{% block side-opt %}
    <div class="recent">
    <h3>recent post</h3>
    {% for r in recent %}
        <a href="#"><i class="fa fa-dot-circle-o"></i>{{ r.title|truncatechars:25  }}</a><br>
    {% endfor %}
    </div>
    {% if user.is_authenticated and followed|length %}
        <div class="recent following">
        <h3>following</h3>
            {% for f in followed %}
                <a href="#"><i class="fa fa-dot-circle-o"></i>{{ f.title|truncatechars:25  }}</a><br>
            {% endfor %}
    </div>
    {% endif %}
{% endblock %}
